body{
    padding-top: 56px;
}
.carousel-item img{
    height: 500px;
    object-fit: cover;
}
.social-icons a{
    color: white;
    margin: 0 10px;
    font-size: 1.5rem;
}
.testimonial{
    background-color: lightskyblue;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
}
iframe{
    width: 100%;
    border: 0;
    height: 350px;
}
.marquee{
    overflow:hidden ;
    position: relative;
}
.marquee-content{
    display: flex;
    animation: marquee 30s linear infinite;
}
.marquee-content img{
    max-height: 50px;
    object-fit: contain;
}
@keyframes marquee{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-50%);
    }
}
/* new Ofertas*/
#ofertas{
    background: linear-gradient(135deg,#f8f9fa,#e9ecef);
}


/* Tarjetas */
.oferta-card{
    border-radius:15px;
    overflow:hidden;
    transition:all .4s ease;
    cursor:pointer;
}


/* Hover */
.oferta-card:hover{
    transform:scale(1.08);
    background:#15386c6f;
    color:#fff;
    box-shadow:0 20px 40px rgba(0,0,0,.4);
}


/* Imagen */
.oferta-card img{
    transition:.4s;
}


.oferta-card:hover img{
    transform:scale(1.1);
}